<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    {% load staticfiles %}
    {% load staticfiles %}
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <link href="{% static 'asset/css/bootstrap.css' %}">
    <link href="{% static 'asset/css/echartsHome.css' %}">
    <!-- ECharts单文件引入 -->
    <script src="{% static 'asset/js/jquery.min.js' %}"></script>
    <script src="{% static 'asset/js/bootstrap.min.js' %}"></script>


    <script src="{% static 'js/date_format.js' %}"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="height: 800px"></div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));
    var params = {};

    function exchange_net_addr(addr) {
        return (addr.substring(2, 4) + addr.substring(0, 2)).toUpperCase()
    }

    function load_data(success) {
        $.getJSON('/end_devices1', params, function (result) {
            var datas = [];

            $.each(result, function (idx, res) {
                var info = {};
                res.info && res.info.length && (info = res.info[0]);
                var dat = {};
                dat = {
                    id: '' + res.code,
                    name: '0x' + exchange_net_addr(res.net_addr),
                    code:'' + res.code,
                    value: res.temp,
                    x: info.x_pos_value,
                    y: info.y_pos_value
                };
                datas.push(dat)
            });
            success(datas)
        });

    }

    option = {
        title: {
            text: 'Graph 简单示例'
        },
        tooltip: {},
        animationDurationUpdate: 1500,
        animationEasingUpdate: 'quinticInOut',
        series: [
            {
                type: 'graph',
                layout: 'none',
                symbolSize: 50,
                draggable: true,
                roam: true,
                label: {
                    normal: {
                        formatter: function (params) {
                            return ['{a|' + params.data.code + '}', '{b|' + params.value.toFixed(2) + '℃' + '}'].join('\n')
                        },
                        show: true,
                        rich: {
                            a: {
                                color: 'blue',
                                align: 'center'
                            },
                            b: {
                                color: 'yellow',
                                align: 'center'
                            }
                        }
                    }

                },
                edgeSymbol: ['circle', 'arrow'],
                edgeSymbolSize: [4, 10],
                edgeLabel: {
                    normal: {
                        textStyle: {
                            fontSize: 20
                        },
                        show: false
                    }
                },
                data: []
                // links: [],

            }
        ]
    };


    myChart.setOption(option);
    load_data(function (datas) {
            myChart.setOption({
                series: [
                    {
                        data: datas
                    }
                ]
            })
        });
    setInterval(function () {
        load_data(function (datas) {
            myChart.setOption({
                series: [
                    {
                        data: datas
                    }
                ]
            })
        });
    }, 60000)
</script>