<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    {% load staticfiles %}
    {% load staticfiles %}
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <link href="{% static 'asset/css/bootstrap.css' %}">
    <link href="{% static 'asset/css/echartsHome.css' %}">
    <!-- ECharts单文件引入 -->
    <script src="{% static 'asset/js/jquery.min.js' %}"></script>
    <script src="{% static 'asset/js/bootstrap.min.js' %}"></script>


    <script src="{% static 'js/date_format.js' %}"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="height: 800px"></div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));
    var params = {};

    function exchange_net_addr(addr) {
        return (addr.substring(2, 4) + addr.substring(0, 2)).toUpperCase()
    }

    var id_update_time = {};
    var nomal_color = {
        normal: {
            color: {
                type: 'radial',
                x: 0.5,
                y: 0.5,
                r: 0.5,
                colorStops: [{
                    offset: 1, color: '#f01215' // 100% 处的颜色
                }, {
                    offset: 0, color: '#f5bdc5' // 0% 处的颜色
                }],
                globalCoord: false // 缺省为 false
            }
        }
    }
    var balc_color = {
        normal: {
            color: {
                type: 'radial',
                x: 0.5,
                y: 0.5,
                r: 0.5,
                colorStops: [{
                    offset: 1, color: '#452f30' // 100% 处的颜色
                }, {
                    offset: 0, color: '#452f30' // 0% 处的颜色
                }],
                globalCoord: false // 缺省为 false
            }
        }
    }

    function load_data(success) {
        $.getJSON('/end_devices1', params, function (result) {
            var datas = [];
            var old_datas = option.series[0].data;
            $.each(result, function (idx, res) {
                var info = {};
                res.info && res.info.length && (info = res.info[0]);
                var dat = {
                    id: res.code,
                    name: '0x' + exchange_net_addr(res.net_addr),
                    code: '' + res.code,
                    value: res.temp,
                    x: info.x_pos_value,
                    y: info.y_pos_value,
                    symbolSize: 80,
                    label: {
                        normal: {
                            formatter: function (params) {
                                return ['{a|' + params.data.code + '}', '{b|' + params.value.toFixed(2) + '℃' + '}'].join('\n')
                            },
                            show: true,
                            rich: {
                                a: {
                                    color: 'blue',
                                    align: 'center',
                                    fontSize: 14
                                },
                                b: {
                                    color: 'yellow',
                                    align: 'center',
                                    fontSize: 14
                                }
                            }
                        }

                    },
                    itemStyle: nomal_color
                };

                if (id_update_time[res.code] && (new Date(res.update_time).getTime() !== new Date(id_update_time[res.code]).getTime())) {
                    dat.label.normal.rich.a.fontSize = 20;
                    dat.label.normal.rich.b.fontSize = 20;
                    dat.symbolSize = 120;
                    dat.itemStyle = nomal_color
                } else {
                    if ((new Date().getTime() - new Date(res.update_time).getTime()) >= 5 * 60 * 1000) {
                        dat.itemStyle = balc_color
                    }
                }
                datas.push(dat);
                id_update_time[res.code] = res.update_time;
            });
            success(datas)
        });

    }

    option = {
        title: {
            text: 'Graph 简单示例'
        },
        tooltip: {},
        animationDurationUpdate: 1500,
        animationEasingUpdate: 'quinticInOut',
        series: [
            {
                type: 'graph',
                layout: 'none',
                symbolSize: 80,
                draggable: true,
                roam: true,
                animationDuration: 100,
                edgeSymbol: ['circle', 'arrow'],
                edgeSymbolSize: [4, 10],
                edgeLabel: {
                    normal: {
                        textStyle: {
                            fontSize: 20
                        },
                        show: false
                    }
                },
                data: []
                // links: [],

            }
        ]
    };


    myChart.setOption(option);
    load_data(function (datas) {
        myChart.setOption({
            series: [
                {
                    data: datas
                }
            ]
        })
    });
    setInterval(function () {
        load_data(function (datas) {
            option.series[0].data = datas;
            myChart.setOption(option);
            setTimeout(function () {
                $.each(datas, function (idx, val) {
                    datas[idx].label.normal.rich.a.fontSize = 14;
                    datas[idx].label.normal.rich.b.fontSize = 14;
                    datas[idx].symbolSize = 80;
                    option.series[0].data = datas;
                    myChart.setOption(option);
                });
            }, 1000)
        });
    }, 5000)
</script>