<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    {% load staticfiles %}
    {% load staticfiles %}
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <link href="{% static 'asset/css/bootstrap.css' %}">
    <link href="{% static 'asset/css/echartsHome.css' %}">
    <!-- ECharts单文件引入 -->
    {#    <script src="{% static 'js/echarts.js' %}"></script>#}
    <script src="{% static 'asset/js/jquery.min.js' %}"></script>
    <script src="{% static 'asset/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/theme/macarons.js' %}"></script>


    <script src="{% static 'js/date_format.js' %}"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div class="container-fluid">
    <div class="row-fluid example">
        <div id="graphic" class="col-md-8">
            <div id="main" style="height:800px"></div>
        </div>

    </div>
</div>
<div id="main1" style="height: 400px"></div>
<script type="text/javascript">
    var temChart = echarts.init(document.getElementById('main'), 'macarons');

    option = {
        title: {
            text: 'Graph 简单示例'
        },
        tooltip: {},
        animationDurationUpdate: 1500,
        animationEasingUpdate: 'quinticInOut',
        series: [
            {
                type: 'graph',
                layout: 'none',
                symbolSize: 50,
                roam: true,
                label: {
                    normal: {
                        show: true
                    }
                },
                edgeSymbol: ['circle', 'arrow'],
                edgeSymbolSize: [4, 10],
                edgeLabel: {
                    normal: {
                        textStyle: {
                            fontSize: 20
                        }
                    }
                },
                data: [{
                    name: '节点1',
                    x: 300,
                    y: 300
                }, {
                    name: '节点2',
                    x: 800,
                    y: 300
                }, {
                    name: '节点3',
                    x: 550,
                    y: 100
                }, {
                    name: '节点4',
                    x: 550,
                    y: 500
                }],
                // links: [],
                links: [{
                    source: 0,
                    target: 1,
                    symbolSize: [5, 20],
                    label: {
                        normal: {
                            show: true
                        }
                    },
                    lineStyle: {
                        normal: {
                            width: 5,
                            curveness: 0.2
                        }
                    }
                }, {
                    source: '节点2',
                    target: '节点1',
                    label: {
                        normal: {
                            show: true
                        }
                    },
                    lineStyle: {
                        normal: {curveness: 0.2}
                    }
                }, {
                    source: '节点1',
                    target: '节点3'
                }, {
                    source: '节点2',
                    target: '节点3'
                }, {
                    source: '节点2',
                    target: '节点4'
                }, {
                    source: '节点1',
                    target: '节点4'
                }],
                lineStyle: {
                    normal: {
                        opacity: 0.9,
                        width: 2,
                        curveness: 0
                    }
                }
            }
        ]
    };
    temChart.setOption(option);
</script>
</body>